/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

body {
   font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857;
   color: #626262;
}

.site-navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #5d5b6a;
}

.site-logo {
    color: #ffffff !important;
    font-size: 24px;
}

#search-box {
    padding-bottom: 10px;
}

.spinner-border {
    margin: 15px;
}

.main-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    max-width: inherit;
    background-color: #5d5b6a;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    padding-top:80px;
}

.panel {
   box-shadow: 0 0 3px rgb(0 0 0 / 10%);
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 2px;
   -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
   min-height: 120px;
   padding: 15px;
}


#google-map {
    min-height: 500px;
    width: 100%;
    height:100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 606px;
    padding: 1.25rem;
}

#search {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border-color: #d3d3d3 !important;
    border: 1px solid;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #d3d3d3;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}


#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#load-spinner {
    display: none;
}

.card-main {
    min-height: 650px;
}

#table-tiles {
    display: none;
}

#table-segmentation {
    display: none;
}

#table-classification {
    display: none;
}
