<!DOCTYPE html>
<html>
  <head>
    <title>HyperionSolarNet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
        <div class="page-header">
          <h1>HyperionSolarNet</h1>
        </div>
        <div class="row">
          <div class="col-sm-8">
              <input
                id="search"
                class="controls"
                type="text"
                placeholder="Search Box"
              />
          </div>
          <div class="col-sm-4">
              <div class="btn-group">
                  <button type="button" class="btn btn-primary" onclick='getObjects("tiles")'>Get tiles</button>
                  <button type="button" class="btn btn-primary" onclick='getObjects("segmentation")'>Segmentation model</button>
                  <button type="button" class="btn btn-primary" onclick='getObjects("classification")'>Classification model</button>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
              <div id="google-map"></div>
          </div>
          <div class="col-sm-4">
              <h3> Results </h3>
              <div id="load-spinner" class="spinner-border" role="status">
                  <span class="sr-only" aria-hidden="true">Loading...</span>
              </div>
              <div id="results"></div>
          </div>
        </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- jQuery library -->
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
      src='https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initGoogleMap&libraries=places&v=weekly'
      async
    ></script>
  </body>
</html>
